{erl_opts, [debug_info]}.
{deps, [
        {lager, "3.8.0"},
        {pcsc, "1.1.1"}
]}.

{escript_incl_apps, [desfirerl]}.
{escript_main_app, desfirerl}.
{escript_name, desfirerl}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{shell, [
  {apps, [desfirerl]},
  {config, "config/app.config"}
]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
